---
name: docs deployment to github pages
on:
    push:
        branches:
            - main
permissions:
    contents: write
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
              with:
                  fetch-depth: 0 # fetch all history for all branches and tags
            - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
              with:
                  python-version: 3.13
            - name: Install Poetry
              uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1
            - name: Install dependencies
              run: poetry install --no-interaction --no-root
            - name: Install Mike
              run: poetry run pip install mike
            - name: Configure git
              run: |
                  git config --global user.name "GitHub Actions"
                  git config --global user.email "actions@github.com"
            - name: Fetch all history for all branches and tags
              run: git fetch --all
            - name: Deploy docs with Mike
              run: |
                  VERSION=$(poetry run semantic-release --noop version --print)
                  # Remove patch version and replace it with 'x'
                  VERSION="${VERSION%.*}.x"
                  poetry run mike deploy --push --update-aliases $VERSION latest
                  poetry run mike set-default --push latest
