---
name: lint and other checks

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        defaults:
            run:
                shell: bash
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest]
                python-version: ['3.13']

        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

            - name: Set up Python
              id: setup-python
              uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install Poetry
              uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1

            - name: Install dependencies
              run: poetry install --no-interaction --no-root

            - name: Run pre-commit
              run: |
                  poetry run pre-commit run --all-files
