---
name: Semantic Release

permissions:
    id-token: write
    contents: write

on:
    push:
        branches:
            - main

jobs:
    release:
        runs-on: ubuntu-latest
        concurrency: release

        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - name: Python Semantic Release
              uses: python-semantic-release/python-semantic-release@v8.0.0
              with:
                  github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

            - name: Publish package distributions to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              # NOTE: DO NOT wrap the conditional in ${{ }} as it will always evaluate to true.
              # See https://github.com/actions/runner/issues/1173
              if: steps.release.outputs.released == 'true'
