---
name: Semantic Release

permissions:
    id-token: write
    contents: write

on:
    push:
        branches:
            - main

jobs:
    release:
        defaults:
            run:
                shell: bash
        runs-on: ubuntu-latest
        concurrency: release

        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
              with:
                  fetch-depth: 0

            - name: release
              id: release
              uses: python-semantic-release/python-semantic-release@5b9d941d5b29da138b933660ce1a9df75b54ce25 # v10.3.1
              with:
                  github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

            - name: update latest tag
              # NOTE: DO NOT wrap the conditional in ${{ }} as it will always evaluate to true.
              # See https://github.com/actions/runner/issues/1173
              if: steps.release.outputs.released == 'true'
              run: |
                  git config user.email "git@daniel-kantor.com"
                  git config user.name "github-actions"
                  git tag -fa latest -m "Update to latest version"
                  git push origin :refs/tags/latest
                  git push origin --tags

            - name: publish to pypi
              uses: pypa/gh-action-pypi-publish@db8f07d3871a0a180efa06b95d467625c19d5d5f # release/v1
              # NOTE: DO NOT wrap the conditional in ${{ }} as it will always evaluate to true.
              # See https://github.com/actions/runner/issues/1173
              if: steps.release.outputs.released == 'true'

            - name: Clone AUR package
              run: git clone https://aur.archlinux.org/python-seagoat.git

            - name: Update PKGBUILD
              run: |
                  ls
                  VERSION=$(grep "^version =" pyproject.toml | sed 's/version = "\(.*\)"/\1/')
                  echo $VERSION
                  sed -i "s/pkgver=.*/pkgver=$VERSION/g" python-seagoat/PKGBUILD
                  cat python-seagoat/PKGBUILD

            - name: Publish AUR package
              uses: KSXGitHub/github-actions-deploy-aur@2ac5a4c1d7035885d46b10e3193393be8460b6f1 # v4.1.1
              # NOTE: DO NOT wrap the conditional in ${{ }} as it will always evaluate to true.
              # See https://github.com/actions/runner/issues/1173
              if: steps.release.outputs.released == 'true'
              with:
                  pkgname: python-seagoat
                  pkgbuild: ./python-seagoat/PKGBUILD
                  commit_username: ${{ secrets.AUR_USERNAME }}
                  commit_email: ${{ secrets.AUR_EMAIL }}
                  ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
                  commit_message: Update AUR package
                  ssh_keyscan_types: rsa,dsa,ecdsa,ed25519
