---
name: pytest

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        defaults:
            run:
                shell: bash
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                python-version: ['3.11']

        steps:
            - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

            - name: Set up Python
              id: setup-python
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install ripgrep
              run: |
                  if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
                    curl -LO https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep_13.0.0_amd64.deb
                    sudo dpkg -i ripgrep_13.0.0_amd64.deb
                  elif [ "${{ matrix.os }}" == "windows-latest" ]; then
                    choco install ripgrep
                  elif [ "${{ matrix.os }}" == "macos-latest" ]; then
                    brew install ripgrep
                  fi

            - name: Install Poetry
              uses: snok/install-poetry@v1

            - name: Install dependencies on macOS
              if: runner.os == 'macOS'
              run: |
                  export HNSWLIB_NO_NATIVE=1
                  arch -x86_64 poetry install --no-interaction --no-root  -vvv --with dev

            - name: Install dependencies on other OS
              if: runner.os != 'macOS'
              run: |
                  export HNSWLIB_NO_NATIVE=1
                  poetry install --no-interaction --no-root  -vvv --with dev

            - name: Run pytest
              run: |
                  poetry run pytest . -vvs --timeout=60 --cov seagoat --cov-report=xml

            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v4-beta
              if: matrix.os == 'ubuntu-latest'
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
